.fondHow{
    background: url("/image/patterns/5373.jpg") repeat;
    background-size: contain;
}


.logosCommentMarche i {
    font-size: 3em;
}

.titreHow{
    font-family: 'shadows', Arial;
    color: rgb(63, 142, 146);
    text-shadow: 2px 2px 1px black;
    font-size: 3em;
}

.fondColorHow{
    background-color: rgb(255, 0, 21);
}

.titreSectionColor{
    color: #8963BA;
    text-shadow: 1px 1px 1px black;
    font-family: 'roboto', serif;
    font-size: 35px;
    font-style: oblique;
}

.titreSectionBlanc{
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    font-family: 'roboto', serif;
    font-size: 35px;
    font-style: oblique;
}


.keyWord{
    font-size: 28px;
    font-weight: bold;
}

.fontHowTitle2{
    font-family: 'openSans', serif;
    font-size: 22px;
    
}

.fontHowText{
    font-family: 'openSans', Arial;
    font-size: 20px;
}

.fontHowTextReserve{
    font-family: 'openSans', Arial;
    font-size: 20px;
    color: white;
}

.fondColorLogo{
    background-color: #D8BFD8;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}


@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
