.logo{
    width: 70px !important;
}

.text_logo{
    color: #293787;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: inherit;
    
}

.linkNav{
    color: black;
     font-weight: bold; 
     
}

.linkNav:hover{
    color: #293787;
    text-decoration: none;
     font-weight: bold; 
     
}